{{> header }}
<h1>Lijst</h1>
<div id="filter">
  <form>
    <label class="doe" >Filter de lijst van koten</label>
    <select id="filterselect">
      <option value="type">Type</option>
      <option value="huurprijs">Huurprijs</option>
      <option value="oppervlakte">Oppervlakte</option>
      <option value="afstand">Afstand</option>
    </select>
    <button class="littlebtn" id="select">Zoek</button>
  </form>
  <div id="student">
  <p id="error"></p>
</div>
</div>
<div class="kotid" id="campuslijst"></div>

