<div class="page list">
  <img class="logomin" src="../../images/logo.png" alt="logo sweet life">
  <div id="form">
    <form class="form" id="person">
        <label>e-mail</label><br>
        <input class="inputfield" name="signup_email" id="signup_email" type="email" placeholder="e-mail"><br>

        <label>wachtwoord</label><br>
        <input class="inputfield" name="signup_password" id="signup_password" type="password" placeholder="password"><br>

        <input name="person" id="kotbaas" type="radio" value="kotbaas"><label>Kotbaas</label>
        <input name="person" id="student" type="radio" value="student"><label>student</label><br>

        <button class="btn_layout" id="btn_signup" type="submit">ga verder</button>
    </form>
    <div id="signup_error"></div>
  </div>
</div>
<script src="/pages/firebase-example.js"></script>