<div class="page list">
  <img class="logomin" src="../../images/logo.png">
    <form class="form">
      <h1>Sign in</h1>
      <label>e-mail</label><br>
      <input class="inputfield" name="login_email" id="login_email" type="email" ><br>
      <label>wachtwoord</label><br>
      <input class="inputfield" name="login_password" id="login_password" type="password"><br>
      <div class="btns">
      <a class="dark" href="/#/firebase" data-path>nog geen account</a>
      <button class="dark" type="submit" id="btn_forgot">paswoord vergeten?</button>
      </div>
      <button class="btn_layout" type="submit" id="btn_login">Log in</button>
    </form>
    <div id="login_error"></div>
    <div id="user_info"></div>
  </div>
</div>