<div class="page list">
    <h1 class="wlkm">Welkom op</h1>
    <img class="logo" src="../../images/logo.png" width="90%">
    <h1 class="username" id="welcome"></h1>
    <div class="btnsection" id="buttons">
      <a class="strtbtn" href="/#/profile" data-path>Profiel</a>
      <a class="strtbtn" href="/#/chosekot" data-path>Koten</a>
      <a class="strtbtn" href="/#/berichten" data-path>berichten</a>
    </div>
</div>
<script src="/pages/profile.js"></script>