<section class="header big">
    <img class="navlogo" src="../../images/logo.png" width="30%">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="nav" id="navigatie">
        <li><a href="/#/start" data-path>Home</a></li>
        <li><a href="/#/profile" data-path>Profile</a></li>
        <li><a href="/#/chosekot" data-path>Koten</a></li>
        <li><a href="/#/berichten" data-path>Berichten</a></li>
        <li><a href="/#/Uitlogen" data-path>Uitlogen</a></li>
    </ul>
</section>
<script src= "header.js"></script>