<div class="page list">
    <img class="logomin" src="../../images/logo.png">
    <form class="form" id="form">
        <h1 id="property">Welkom </h1>
        <label>Naam</label><br>
        <input class="inputfield" id="naam" type="text" placeholder="Naam"><br>
        <label>Voornaam</label><br>
        <input class="inputfield" id="vn" type="text" placeholder="Voornaam"></br>
        <label>Adress</label><br>
        <div class="adr"><input class="inputfield str" id="straat" type="text" placeholder="straat">
        <input class="inputfield nr" id="nr" type="number" placeholder="nr"></div><br>
        <input class="inputfield" id="gemeente" type="text" placeholder="gemeente"><br>
        <label>telefoon nr</label><br>
        <input class="inputfield" id="tel" type="tel" placeholder="phone nr"><br>
        <div id="student"></div>
        <button class="btn_layout" id="btn_account" type="submit">maak account aan</button></form>
    </form>
</div>
<script src="/pages/form.js"></script>