<div class="page home">
  <img class="logo" src="../../images/logo.png" alt="logo sweet life">
  <div class="buttonPlace">
    <a class="clickBtn" href="#/login" data-path>Log in</a>
    <a class="clickBtn" href="#/firebase" data-path>Sign up</a>
  </div>
</div>
