{{> header }}

<div class="page list">

  <h1>{{title}}</h1>

  <div class="body">

    <input type="file" name="image" id="image">
    <img id="renderImg">

    Go to <a href="/" data-navigo>Home page</a>

  </div>

</div>

{{> footer }}