{{>header}}
<div class="page list">
  <div class ="kotid" id="kotid">
    <h1>Tinderspel</h1>
    <form>
      <label class="doe">Geef jou campus adress in om de koten te vinden in de omgeving</label><br>
      <input class="inputfield" id="straat" type="text" placeholder="straat"><input class="inputfield" id="nr" type="number" placeholder="nummer"><input class="inputfield" id="gemeente" type="text" placeholder="gemeente"><br>
      <button class="btn_layout" type="submit" id="getAdress">ga verder</button>
    </form>
  </div>
  <div class="btn_layout" id="button"></div>
</div>